{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% block content %}

  {% set compact = content.field_compact['#items'].getString()|number_format %}
  {% set close = content.field_close['#items'].getString()|number_format %}

  {% set classes = [
      'fr-alert',
      content.field_alert['#items'].getString() ? 'fr-alert--' ~ content.field_alert['#items'].getString() : 'fr-alert--warning',
      compact == 1 ? 'fr-alert--sm',
      content.field_margin_top['#items'].getString() ? 'fr-mt-' ~ content.field_margin_top['#items'].getString(),
      content.field_margin_bottom['#items'].getString() ? 'fr-mb-' ~ content.field_margin_bottom['#items'].getString()
    ] 
  %}

  {# Label type #}
  {% set type_alert = 'Warning'|t %}
  {% if content.field_alert.0['#markup'] %} {% set type_alert = content.field_alert.0['#markup']  %} {% endif %}

  {# Strong title #}
  {% set classes_tile = 'fr-alert__title'  %}

{#
/**
* About accessibility *
*
*  The role="alert" must be reserved for alerts added (/injected) dynamically during the navigation. 
*
*  This alert block is intended for NON-DYNAMIC alerts, so, in theory, the alert type role is not required.
*/
#}

  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {# block title overrides block description #}
    {% if label and compact == 1 %} 
      <p>{{ type_alert }}{{': '|t}}{{ label }}</p>
    {# block description #}
    {% elseif compact == 1 %}
      <p>{{ type_alert }}{{': '|t}}{{ content['#block_content'].info.value }}</p>
    {# block title (or description) #}
    {% elseif label %}
      <h3{{ title_attributes.addClass('fr-alert__title') }}>{{ type_alert }}: {{ content.field_title[0]['#context'].value }}</h3>
    {% endif %}
    {{ title_suffix }}
    {% if content.field_message and compact != 1 %}
    <div>
      {{ content.field_message }}
    </div>
    {% endif %}
    {% if close == 1 %}
      <button class="fr-link--close fr-btn" title={{ 'Hide message'|t }} onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">{{ 'Hide message'|t }}</button>
    {% endif %}
  </div>

{% endblock %}